.env
credentials/google_service_account.json
__pycache__/
*.pyc
*.pyo
.DS_Store
venv
.venv
logs/
core/rag/logs
core/rag/parser/data
src/oauths
src/oauths/scarborough_gmail_token.json
src/oauths/scarborough_credentials.json